@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .i {color:black; background-color:#80FF80; padding:0; margin:0;}
    .d {color:#FFa0a0; background-color:inherit; padding:0; margin:0;}
    .u {color:#707070; background-color:inherit; padding:0; margin:0;}
</style>

<div class="text-center">
    @foreach (var change in Model.Changes)
    {
        <span class="@change.TypeString">@change.Content</span>
    }
</div>